

html{
    font-size: 1.6rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    font-size: 0.7em;
    color: #090600;
    text-align: center;
    background-color: #e5e0c5;

}

#main{
    max-width: 1000px;
    margin: 0px auto;
    padding: 0;
    height: 100%;
    background-color: #e2ddc1;
}

#title, p{
    margin: 2em auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#title{
    padding-top: 0.5em;
}
#img-div{
    max-width: 96%;
    overflow: hidden;
}
#image{
    max-width: 100%;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    margin: 0.5em auto;
    object-fit: cover;
}
/*ul>li{
    max-width: 500px;*
}*/
/*p, h3, h2{
    max-width: 600px;*/

#tribute-info{
    margin: 5px auto;
    width: 80%;
}
h2{
    width: 100%;
    margin: 4px auto;
}